.App {
  text-align: center;
  display: block;
}

/*HEADER*/
.App-Header {
  z-index: 2;
  background-color: red;
  height: 50px;
  color: white;
  width: 100%;
  position: fixed;
  top: 0%;
}
.App-Header_Navbar {
}
.App-Header_Navbar-Button {
}



/*BODY*/
.App-Body {
  width: 90%;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
}
.Gallery {
  display: grid;
  grid-template-columns: repeat(5, 500px);
  grid-template-rows: repeat(1, 600px);
  grid-gap: 1em;
}
  /*TODOS*/
.App-Body_Todos {
  border: 2px blue dashed;
}
.App-Body_Todos-Item {
  width: 50%;
  position: relative;
  color: white;
  background-color: red;
  border-radius: 20px;
  margin: 5px;
}
.App-Body_Todos-Item_Text {
  padding: 2%;
  height: 40px;
}
.App-Body_Todos-Item_Delete {
  position: absolute;
  top: 0;
  right: 0%;
}
  /*AUDIO*/
.App-Body_AudioFiles {
  height: 500px;
  border: 1px dashed black;
  border-radius: 2em;
  margin: 1em 0;
}
  /*VIDEO*/
.App-Body_VideoFiles {
  height: 500px;
  border: 1px dashed black;
  border-radius: 2em;
  margin: 1em 0;
}
  /*MESSANGER*/
.App-Body_Messenger {

  border: 2px blue dashed;
}
.App-Body_Messenger-Item {
  color: white;
  height: 40px;
  width: 50%;
  text-align: left;
  background-color: blue;
  border-radius: 20px 20px 20px 0;
  margin: 5px;
  padding: 5%;
}
  /*HOLYGRAIL*/
.App-Body_HolyGrailLayout {
  text-align: center;
  margin-top: 5em;
}

.App-Body_HolyGrailLayout .grid{
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: repeat(3, 300px);
  grid-gap: 1em;
}
.App-Body_HolyGrailLayout
  header,
  aside,
  article,
  footer {
    background-color: grey;
  }
.App-Body_HolyGrailLayout header {
  grid-row: 1;
  grid-column: 1/4;
}
.App-Body_HolyGrailLayout .sidebar-left {
  grid-row: 2;
  grid-column: 1/2;
}
.App-Body_HolyGrailLayout article {
  grid-row: 2;
  grid-column: 2/3;
}
.App-Body_HolyGrailLayout .sidebar-right {
  grid-row: 2;
  grid-column: 3/4;
}
.App-Body_HolyGrailLayout  footer{
  grid-row: 3;
  grid-column: 1/4;
}
/*CALENDAR*/
.App-Body_Calendar-Container{
  height: 800px;
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-Body_MyCalendar {
  transition: transform .5s ease;
}
.App-Body_MyCalendar:hover {
  transform: scale(2.5);
  border-color: white;
  box-shadow: 0 0 0 2px lightblue;
  transition: all 200ms ease-out;
}
.react-calendar {
  border-radius: 0.25em;
}
.react-calendar__month-view__days__day {
  border-radius: 0.25em;
}
.App-Body_Calendar {
  margin-bottom: 5em;
  padding-left: 1em;
  padding-top: 1em;
  border-radius: 1em;
  background-color: lightblue;

  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7 - 1em));
  grid-template-rows: repeat(6, calc(100% / 6 -  1em));
  grid-gap: 1em;
}
.App-Body_Calendar-Day{
  background-color: white;
  border-radius: 0.5em;
}

/*PARALLAX*/
/*
rgb(102,204,102)
rgb(123,210,102)
rgb(153,216,101)
rgb(184,223,101)
rgb(214,229,100)
rgb(245,235,100)
rgb(255,241,100)
 */

.parallax {
  font-size: 200%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}
.parallax div {
  display: block;
}
.parallax * {
  margin: 0;
  padding: 0;
}
.parallax .parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.parallax .title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#group1 {
  z-index: 5;
}
#group2 {
  z-index: 3;
}
#group3 {
  z-index: 4;
}
#group4 {
  z-index: 2;
}
#group5 {
  z-index: 3;
}
#group6 {
  z-index: 2;
}
#group7 {
  z-index: 3;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translate3d(0,0,0) scale(1);
  z-index: 4;
}
.parallax__layer--back {
  transform: translate3d(0,0,-300px) scale(2);
  z-index: 3;
}
.parallax__layer--fore {
  z-index: 1;
  transform: translate3d(0,0,90px) scale(0.7);
}
.parallax__layer--deep {
  z-index: 2;
  transform: translate3d(0,0,-600px) scale(3);
}

#group1 .parallax__layer--base{
  background-color: rgba(102,204,102,0.9);
}
#group2 .parallax__layer--base{

}
#group2 .parallax__layer--back{
  background-color: rgba(123,210,102,0.9);
}
#group3 .parallax__layer--fore{

}
#group3 .parallax__layer--base{
  background-color: rgba(153,216,101,0.9);
}
#group4 .parallax__layer--base{

}
#group4 .parallax__layer--back{

}
#group4 .parallax__layer--deep{
  background-color: rgba(184,223,101,0.9);
}
#group5 .parallax__layer--fore{

}
#group5 .parallax__layer--base{
  background-color: rgba(214,229,100,0.9);
}
#group6 .parallax__layer--back{
  background-color: rgba(245,235,100,0.9);
}
#group6 .parallax__layer--base{

}
#group7 .parallax__layer--base{
  background-color: rgba(255,241,100,0.9);
}



/*FOOTER*/
.App-Footer {
  color: white;
  background-color: blue;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 100%;
  transform: translate(0,-100%);
}
