.App {
  text-align: center;
}


.App-Header {
  background-color: red;
  height: 50px;
  color: white;
  width: 100%;
  position: fixed;
  top: 0%;
}
.App-Header_Navbar {
}
.App-Header_Navbar-Button {
}




.App-Body {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
}
.App-Body_Todos {
    width: 90%;
  border: 2px blue dashed;
}
.App-Body_Todos-Item {
  color: white;
  height: 40px;
  width: 50%;
  text-align: left;
  background-color: red;
  border-radius: 20px;
  margin: 2px;
  padding: 2%;
}

.App-Body_Messenger {
  width: 90%;
  border: 2px blue dashed;
}
.App-Body_Messenger-Item {
  color: white;
  height: 40px;
  width: 50%;
  text-align: left;
  background-color: blue;
  border-radius: 20px 20px 20px 0;
  margin: 2px;
  padding: 5%;
}

.App-Body_Gallery {
  display: block;
  width: 90%;
  border: 2px blue dashed;
}
.App-Body_Gallery-Item {
  float: left;
  padding: 1%;
  width: 45%;
  height: 200px;
  border: 2px red dashed;
}




.App-Footer {
  color: white;
  background-color: blue;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 100%;
  transform: translate(0,-100%);
}
.App-Body {
  text-align: center;
}
.App-Body {
  text-align: center;
}
